@using ViewModels.Common
@model ApiResult<IEnumerable<ViewModels.Catalog.STA1010_Material_IN_OUT_Logs.STA1010_Material_IN_OUT_LogViewModel>>
@section Scripts{
   @* <script src="~/js/jsControllers/knifeController/Index.js"></script>*@
}


<div class="row">
    <div class="col-8">
        @* <h1>@ViewData["Title"]</h1>*@
        <h1>Lịch sử nhập/xuất kho theo LOT nhập hàng</h1>
    </div>
    @* <div class="col-4 d-flex justify-content-center">
        @if (TempData["ResultOk"] != null)
        {
        <h4 aria-hidden="true" id="alertMesss" class="alert-success">@TempData["ResultOk"]</h4>
        }
        else
        {
        <h4 type="button" class="close" data-dismiss="alert" aria-label="Close">
        </h4>
        }
        </div>*@
    <div class="container-fluid">
        <div class="row">

            <form method="get" enctype="multipart/form-data" class="mb-1 w-100">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">Ngày</div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">
                        <input type="date" class="form-control border-0 small" name="date" id="date" value="@ViewData["date"]" aria-describedby="basic-addon2" />
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">SubLot</div>
                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 float-right">
                        <input type="text" class="form-control border-0 small" name="subLot" id="subLot" value="@ViewData["subLot"]" aria-describedby="basic-addon2" />
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">Loại</div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">
                        @Html.DropDownList("searchType", null, new { @class = "form-control d-sm-inline-block", @id = "searchType", @name = "searchType" })

                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 float-right">
                        <button class="btn btn-primary" type="submit" id="btnSearch">
                            Tìm kiếm
                        </button>


                        @*
                            @* @if (Model.Count() > 0)
                            {
                            <a class="btn btn-info ml-2" id="btnExport">
                            Export Excel
                            </a>
                            }*@
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<div class="row">
    <div class=" table-responsive tableFixHead" style="max-height:750px; overflow-y:scroll;">
        <table class="table table-bordered  table-hover" cellspacing="0" width="100%" style="overflow-x:scroll;  border-spacing: 0px;" id="table_id">
            <thead>
                <tr>
                    @*<th scope="col"><b style="opacity:0%;">......</b>#<b style="opacity:0%;">......</b></th>*@
                    <th scope="col"><b style="opacity:0%;"></b>WorkDateTime<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>StockCode<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Action<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>RawNo<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>LotNo<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>MatCD<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>MaterialName<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Quantity<b style="opacity:0%;"></b></th>
                    @*<th scope="col"><b style="opacity:0%;"></b>RawLot<b style="opacity:0%;"></b></th>*@
                    <th scope="col"><b style="opacity:0%;"></b>Unit<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;">...............</b>Supplier<b style="opacity:0%;">...............</b></th>
                    <th scope="col"><b style="opacity:0%;"></b>SupplierLot<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>ImportDate<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>StatusCheck<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Remark<b style="opacity:0%;"></b></th>

                </tr>
            </thead>
            <tbody style="font-size:12px;">

                @*<tr class="@(item.IsDeleted == true?"text-danger":"")">*@
                @if (Model.ResultObj.Count() > 0)
                {
                    @foreach (var item in Model.ResultObj)
                    {
                        <tr class="">
                           @* <td class="p-0 text-center" style="font-size:10px; line-height:13px;">
                                  <a class="btn btn-sm btn-info" onclick="show(@item.ID)" data-toggle="modal" data-target="#myModal">Xuất file in barcode</a>

                            </td>*@
                            <td class="p-0 text-center">
                                @item.WorkDateTime.ToString("dd-MM-yyyy")
                            </td>
                            <td class="p-0 text-center">
                                @item.StockCode
                            </td>
                            <td class="p-0 text-center">
                                @item.Action
                            </td>
                            @*<td class="p-0 text-center">
                                @item.
                                </td>*@
                            <td class="p-0 text-center">
                                @item.RawNo
                            </td>
                            <td class="p-0 text-center">
                                @item.LotNo
                            </td>
                            <td class="p-0 text-center">
                                @item.MatCD
                            </td>
                            @* <td class="p-0 text-center">
                                @item.RawLot
                                </td>*@
                            <td class="p-0 text-center">
                                @item.MaterialName
                            </td>
                            <td class="p-0 text-center">
                                @item.Quantity
                            </td>
                            <td class="p-0 text-center">
                                @item.Unit
                            </td>
                            <td class="p-0 text-center">
                                @item.Supplier
                            </td>
                            <td class="p-0 text-center">
                                @item.SupplierLot
                            </td>
                            <td class="p-0 text-center">
                                @item.ImportDate.ToString("dd-MM-yyyy")
                            </td>
                            <td class="p-0 text-center">
                                @item.StatusCheck
                            </td>
                            <td class="p-0 text-center">
                                @item.Remark
                            </td>


                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Không có dữ liệu</td>
                        <td>
                            <a class="btn btn-sm btn-info" onclick="show(0)" data-toggle="modal" data-target="#myModal">Chi tiết</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl modal-lg model-sm">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body container">
                <h3 class="plan-title text-center">Chi tiết LOT nhập NVL</h3>
                <div class="row general">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-sm-12 mb-8">


                        <div class=" table-responsive tableFixHead" style="max-height:750px; overflow-y:scroll;">
                            <table class="table table-bordered  table-hover" cellspacing="0" width="100%" style="overflow-x:scroll;  border-spacing: 0px;" id="table_id">
                                <thead>
                                    <tr>
                                        @*<th scope="col"><b style="opacity:0%;">......</b>#<b style="opacity:0%;">......</b></th>*@
                                        <th scope="col"><b style="opacity:0%;">......</b>RawLOT<b style="opacity:0%;">......</b></th>
                                        <th scope="col"><b style="opacity:0%;">....</b>LOTNO<b style="opacity:0%;">....</b></th>
                                        <th scope="col"><b style="opacity:0%;"></b>MãNVL<b style="opacity:0%;"></b></th>
                                        <th scope="col"><b style="opacity:0%;"></b>TênNVL<b style="opacity:0%;"></b></th>
                                        <th scope="col"><b style="opacity:0%;"></b>Sốlượngcònlại<b style="opacity:0%;"></b></th>
                                        <th scope="col"><b style="opacity:0%;"></b>Đơnvị<b style="opacity:0%;"></b></th>
                                        <th scope="col"><b style="opacity:0%;"></b>Ngàysảnxuất<b style="opacity:0%;"></b></th>
                                        <th scope="col"><b style="opacity:0%;"></b>Ngàynhậpkho<b style="opacity:0%;"></b></th>
                                        <th scope="col"><b style="opacity:0%;"></b>LOTNCC<b style="opacity:0%;"></b></th>
                                        <th scope="col"><b style="opacity:0%;">..............</b>TênNCC<b style="opacity:0%;">...............</b></th>

                                        <th scope="col"><b style="opacity:0%;"></b>Ghichú<b style="opacity:0%;"></b></th>

                                    </tr>
                                </thead>
                                <tbody style="font-size:12px;" id="detailData">
                                    <tr class="">
                                        @* <td class="p-0 text-center" style="font-size:10px; line-height:13px;">

                                            </td>*@
                                        <td class="p-0 text-center">
                                            <p>RawLOT</p>
                                        </td>
                                        <td class="p-0 text-center">
                                            LOTNO
                                        </td>
                                        <td class="p-0 text-center">
                                            MãNVL
                                        </td>
                                        <td class="p-0 text-center">
                                            TênNVL
                                        </td>
                                        <td class="p-0 text-center">
                                            Sốlượngcònlại
                                        </td>
                                        <td class="p-0 text-center">
                                            Đơnvị
                                        </td>
                                        <td class="p-0 text-center">
                                            Ngàysảnxuất
                                        </td>
                                        <td class="p-0 text-center">
                                            <p>Ngàynhậpkho</p>
                                        </td>
                                        <td class="p-0 text-center">
                                            <p>LOTNCC</p>
                                        </td>
                                        <td class="p-0 text-center">
                                            <p>TênNCC</p>
                                        </td>

                                        <td class="p-0 text-center">
                                            Ghichú
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Tổng</td>
                                        <td colspan="10">14</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="exportModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-lg model-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xuất barcode</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container">
                <div class="form-row">
                    <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1 d-none">
                        <input class="form-inline form-control   d-sm-inline-block" type="hidden" disabled="disabled" id="exportID" value="0" />
                        <input class="form-inline form-control   d-sm-inline-block" type="hidden" disabled="disabled" id="maxQuantity" value="0" />
                    </div>

                    <div class="form-group col-md-5 col-lg-5 col-sm-5 col-xl-5  mb-1">
                        <label class="control-label  label-text">Số LOT:</label>
                        <input type="text" class="form-inline form-control  d-sm-inline-block" id="exportLotNo" />
                    </div>

                    <div class="form-group col-md-3 col-lg-3 col-sm-3 col-xl-3  mb-1">
                        <label class="control-label  label-text">Mã NVL:</label>
                        <input type="text" class="form-inline form-control  d-sm-inline-block" id="exportMatCD" />
                    </div>

                    <div class="form-group col-md-4 col-lg-4 col-sm-4 col-xl-4  mb-1">
                        <label class="control-label  label-text">Mã quản lý:</label>
                        <input type="text" class="form-inline form-control  d-sm-inline-block" id="exportMaterialCode" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 col-lg-3 col-sm-3 col-xl-3  mb-1">
                    </div>
                    <div class="form-group col-md-3 col-lg-3 col-sm-3 col-xl-3  mb-1">
                        <label class="control-label  label-text">STT bắt đầu:</label>
                        <input type="number" class="form-inline form-control  d-sm-inline-block" id="exportOrdinalStart" onchange="checkQuantity()" />
                    </div>

                    <div class="form-group col-md-3 col-lg-3 col-sm-3 col-xl-3  mb-1">
                        <label class="control-label  label-text">STT kết thúc:</label>
                        <input type="number" class="form-inline form-control  d-sm-inline-block" id="exportOrdinalEnd" onchange="checkQuantity()" />
                    </div>
                    <div class="form-group col-md-3 col-lg-3 col-sm-3 col-xl-3  mb-1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnExport" class="btn btn-primary" onclick="exportLOTNO()">Xuất</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function show(lotNo) {




       var url = "/WareHouse/STA0030MaterialSupplierROWNOFollowLOTNOList?lotNo=" + lotNo;
        console.log(url);
    $.ajax({
        type: "GET",
        url: url,
        async: true,
        //data: data,
        // async: false,
        contentType: 'application/json; charset=utf-8',
        success: function (mess) {
            console.log(mess);
        var count = 0;
        var total = 0;
             $('#detailData').empty();
            $.each(mess, function (key, item) {
                //console.log(item.rawno);
                    $('#detailData').append('<tr class=""> <td class="p-0 text-center"> '+item.rawno+'</td> <td class="p-0 text-center"> '+item.lotno+' </td> <td class="p-0 text-center"> '+item.matcd+' </td> <td class="p-0 text-center"> '+item.lotno+' </td> <td class="p-0 text-center"> '+item.unitqty+' </td> <td class="p-0 text-center"> '+item.unit+' </td> <td class="p-0 text-center"> '+item.productDate+' </td> <td class="p-0 text-center"> <p>'+item.importDate+'</p> </td> <td class="p-0 text-center"> <p>'+item.sup_LOT+'</p> </td> <td class="p-0 text-center"> <p>'+item.supplier+'</p> </td> <td class="p-0 text-center"> '+item.remake+' </td> </tr> ');
                    count = count + 1;
                    total = total + item.unitqty;
            });
             $('#detailData').append('<tr> <td colspan="2">Tổng</td> <td colspan="2"><b>'+count+'</b></td> <td colspan="1" class="text-center"><b>'+total+'</b></td> <td colspan="6"></td> </tr>')
        },
        error: function (err) {
            alert("Error: " + err.responseText);
        }

    });


    }
</script>

<script type="text/javascript">
    function showExport(id) {

       if(id == 0){
            $('#exportID').val(0);


            $("#exportLotNo").val("");
            $("#exportMatCD").val("");
            $("#exportMaterialCode").val("");

            $("#exportOrdinalStart").val(1);
            $("#exportOrdinalEnd").val(0);
            //$("#codeLevel2 > [value='0']").attr("selected",true);
       }
       else{
       var url = "/WareHouse/STA0020MaterialSupplierLOTNODetail/" + id;

    $.ajax({
        type: "GET",
        url: url,
        async: true,
        //data: data,
        // async: false,
        contentType: 'application/json; charset=utf-8',
        success: function (mess) {
            console.log(mess);
            $('#exportID').val(mess.resultObj.id);

            $("#exportMatCD").prop("disabled", true).val(mess.resultObj.matCD);
            //$("#matGroup > [value='"+ mess.resultObj.matgroupcd +"']").attr("selected",true);
            //$("#matGroup").prop("disabled", true);
            $("#exportMaterialCode").val(mess.resultObj.materialCode);
            $("#exportLotNo").val(mess.resultObj.lotNo);
            $("#exportOrdinalStart").val(1);
            $("#exportOrdinalEnd").val(mess.resultObj.inEAQuantity);
            $("#maxQuantity").val(mess.resultObj.inEAQuantity);

            //$("#codeLevel1 > [value='"+ mess.resultObj.idLevel1 +"']").attr("selected",true);
        },
        error: function (err) {
            alert("Error: " + err.responseText);
        }

    });
    }

    }
</script>

<script type="text/javascript">

      function checkQuantity(){
          var inputQuantityStart = $('#exportOrdinalStart').val();
          var inputQuantityEnd = $('#exportOrdinalEnd').val();
          var maxQuantity =  $('#maxQuantity').val();

          if(parseInt(inputQuantityEnd)> parseInt(maxQuantity)  || parseInt(inputQuantityEnd) <=0)
          {
              console.log("1 start: " + inputQuantityStart + " end: " + inputQuantityEnd );
              alert("Số lượng tối đa được xuất của LOT này phải lớn hơn 0 và không được vượt quá: " + maxQuantity);
               $('#exportOrdinalEnd').val(maxQuantity);

          }

          if(parseInt(inputQuantityStart)> parseInt(maxQuantity) || parseInt(inputQuantityStart) <=0)
          {
              console.log("2 start: " + inputQuantityStart + " end: " + inputQuantityEnd );
              alert("Số lượng tối thiểu được xuất của LOT này phải lớn hơn 0 và không được vượt quá: " + maxQuantity);
               $('#exportOrdinalStart').val(1);

          }
      }

        function setValue(){
                var matGroupID = $("#matCDList option:selected").val();

            var url = "/WareHouse/STA0010MaterialMasterDetail/" + matGroupID;

    $.ajax({
        type: "GET",
        url: url,
        async: true,
        //data: data,
        // async: false,
        contentType: 'application/json; charset=utf-8',
        success: function (mess) {
            console.log(mess);
            //$('#ID').val(mess.resultObj.id);

            $("#matCD").prop("disabled", true).val(mess.resultObj.matcd);
            //$("#matGroup > [value='"+ mess.resultObj.matgroupcd +"']").attr("selected",true);
            $("#matGroupCD").val(mess.resultObj.matgroupcd == "P"?"Giấy":mess.resultObj.matgroupcd == "K"?"Dao":"Khác").prop("disabled", true);
            $("#materialCode").prop("disabled", true).val(mess.resultObj.materialCode);
            //$("#materialName").val(mess.resultObj.materialName);
            //$("#note").val(mess.resultObj.note);
            $("#unit").val(mess.resultObj.unit);
            $("#unitQuantity").val(mess.resultObj.unitQty);
            $("#price").val(mess.resultObj.price);

            //$("#codeLevel1 > [value='"+ mess.resultObj.idLevel1 +"']").attr("selected",true);
        },
        error: function (err) {
            alert("Error: " + err.responseText);
        }

    });
            }
</script>

<script type="text/javascript">

        function save() {
        if (confirm("Bạn có chắc chắn muốn lưu?") == true) {
            var data = new FormData();
            //var fileUpload = $("#attachment").get(0);
            //var countFile = $("#attachment")[0].files.length;
            //var files = fileUpload.files;
             var id = $("#ID").val();
             var url;
             if(id <= 0)
             {
                  url = "/WareHouse/CreateSTA0020MaterialSupplier";
                  method ="POST";
             }
             else{
                  url = "/WareHouse/UpdateSTA0020MaterialMaster/"+id;
                   method ="POST";
             }

            var matCD = $("#matCDList option:selected").text();
            var matGroupCD = $("#matGroupCD").val();
            var materialCode = $("#materialCode").val();
            //var materialName = $("#materialName").val();
            var supplier = $("#supplier").val();
            var supplyLot = $("#supplyLot").val();
            var quantity = $("#quantity").val();
            var inEAQuantity = $("#inEAQuantity").val();
            var productDate = $("#productDate").val();
            var expireDate = $("#expireDate").val();
            var importDate = $("#importDate").val();
            var testDate = $("#testDate").val();
            var testResult = $("#testResult:checked:enabled").val();
            var note = $("#note").val();
            var unit = $("#unit").val();
            var unitQuantity = $("#unitQuantity").val();
            var price = $("#price").val();
            var size = $("#size").val();

            var model;
            if(id>0)
            {
                model = { ID: id, MaterialName:materialName, Note:note, Unit:unit, UnitQty:unitQuantity, Price:price};
            }
            else
            {
                model = { ID: id, MatCD:matCD, Supplier: supplier, SupLOT: supplyLot, InEAQuantity:inEAQuantity, UnitQuantity:unitQuantity, ProductDate:productDate, ImportDate:importDate, TestDate:testDate, TestResult:testResult,ExpiredDate:expireDate , MaterialCode:materialCode,  Note:note, Unit:unit, Price:price, Size:size};
            }


            console.log(model);
            $.ajax({
                type: method,
                url: url,
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(model),
                async: true,
                success: function (mess) {
                    if (mess.isSuccessResult == false) {
                        $("#msg").removeClass("text-success");
                        $("#msg").addClass("text-danger");
                        $("#msg").html(mess.result);
                        alert(mess.result);
                    }
                    else {
                        $("#msg").removeClass("text-danger");
                        $("#msg").addClass("text-success");
                        $("#msg").html(mess.result);
                        alert(mess.result);
                        location.reload();
                    }

                    //setTimeout(function () {// wait for 5 secs(2)
                    //    location.reload(); // then reload the page.(3)
                    //}, 5000);

                },
                error: function (err) {

                    $("#msg").removeClass("text-success");
                    $("#msg").addClass("text-danger");
                    $("#msg").html("Error: " + err);
                    alert(err.responseText);
                    //setTimeout(function () {// wait for 5 secs(2)
                    //    location.reload(); // then reload the page.(3)
                    //}, 5000);
                }

            });
        }
    }
</script>

<script type="text/javascript">

        function exportLOTNO() {
        if (confirm("Bạn có chắc chắn muốn xuất file?") == true) {
            var data = new FormData();
            //var fileUpload = $("#attachment").get(0);
            //var countFile = $("#attachment")[0].files.length;
            //var files = fileUpload.files;
             var exportID = $("#exportID").val();
             var url;

             url = "/WareHouse/CreateSTB0010BarcodePrintingLog";
             method ="POST";

            var exportLotNo = $("#exportLotNo").val();
            var exportMaterialCode = $("#exportMaterialCode").val();
            var exportMatCD = $("#exportMatCD").val();
            var exportOrdinalStart = $("#exportOrdinalStart").val();
            var exportOrdinalEnd = $("#exportOrdinalEnd").val();

            var model;

            model = { STA0020_Material_Supplier_LotnoID: exportID, MaterialCode:exportMaterialCode, LotNo:exportLotNo, MatCD:exportMatCD, ExportQuantityStart:exportOrdinalStart, ExportQuantityEnd:exportOrdinalEnd, EmployeeID:'Test'};

            console.log(model);
            $.ajax({
                type: method,
                url: url,
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(model),
                async: true,
                //beforeSend: function(){
                //    startLoader();
                //},
                success: function (mess) {
                    if (mess.isSuccessResult == false) {

                        //var blob = new Blob([response], {type: "application/ms-excel"});
                        //var downloadUrl = URL.createObjectURL(blob);
                        //var a = document.createElement("a");
                        //a.href = downloadUrl;
                        //a.download = "ReportFile.xls";
                        //document.body.appendChild(a);
                        //a.click();
                         //window.location.href = "Url.RouteUrl(new { Controller = "WareHouse", Action = "Download" })"; //?fileName=" + data.fileName;

                        alert(mess.result);
                    }
                    else {
                         window.location.href = "@Url.RouteUrl(new { Controller = "WareHouse", Action = "Download" })"; //?fileName=" + data.fileName;
                        $("#msg").removeClass("text-danger");
                        $("#msg").addClass("text-success");
                        $("#msg").html(mess.result);
                        alert(mess.result);
                        location.reload();
                    }

                    //setTimeout(function () {// wait for 5 secs(2)
                    //    location.reload(); // then reload the page.(3)
                    //}, 5000);

                },
                //complete: function(){
                //    stopLoader();
                //},
                error: function (err) {

                    $("#msg").removeClass("text-success");
                    $("#msg").addClass("text-danger");
                    $("#msg").html("Error: " + err);
                    alert(err.responseText);
                    //setTimeout(function () {// wait for 5 secs(2)
                    //    location.reload(); // then reload the page.(3)
                    //}, 5000);
                }

            });
        }
    }

    //funtion startLoader(){
    //    $('#btnExport').text('Vui lòng đợi ...');
    //    $('#btnExport').attr('Disabled', true);
    //}

    //funtion stopLoader(){
    //    $('#btnExport').text('Xuất');
    //    $('#btnExport').attr('Disabled', false);
    //}
</script>


@section CSS{
<link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
@*<link href="~/css/viewTable.css" rel="stylesheet" />*@
<style>
    /*on top header */
    .tableFixHead {
        overflow: auto;
        height: auto;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }
</style>
}