@using ViewModels.Common
@model ApiResult<IEnumerable<ViewModels.Catalog.MachineConfigs.MachineConfigViewModel>>
@section Scripts{
   @* <script src="~/js/jsControllers/knifeController/Index.js"></script>*@
}


<div class="row">
    <div class="col-8">
        @* <h1>@ViewData["Title"]</h1>*@
        <h1>Danh sách máy</h1>
    </div>
    @* <div class="col-4 d-flex justify-content-center">
        @if (TempData["ResultOk"] != null)
        {
        <h4 aria-hidden="true" id="alertMesss" class="alert-success">@TempData["ResultOk"]</h4>
        }
        else
        {
        <h4 type="button" class="close" data-dismiss="alert" aria-label="Close">
        </h4>
        }
        </div>*@
    <div class="container-fluid">
        <div class="row">

            <form method="get" enctype="multipart/form-data" class="mb-1 w-100">
                <div class="row">
                    @*<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">Chất liệu</div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">
                        <input type="text" class="form-control border-0 small" name="material" id="material" value="@ViewData["material"]" aria-describedby="basic-addon2" />
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 float-right">Loại</div>
                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 float-right">
                        @Html.DropDownList("materialTypeList", null, new { @class = "form-control d-sm-inline-block", @id = "materialTypeList", @name = "materialTypeList" })
                    </div>*@

                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 float-right">
                       @* <button class="btn btn-primary" type="submit" id="btnSearch">
                            Tìm kiếm
                        </button>*@
                        <a class="btn btn-success" onclick="show(0)" data-toggle="modal" data-target="#myModal">
                            Thêm mới
                        </a>


                        @* @if (Model.Count() > 0)
                            {
                            <a class="btn btn-info ml-2" id="btnExport">
                            Export Excel
                            </a>
                            }*@
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<div class="row">
    <div class=" table-responsive tableFixHead" style="max-height:750px; overflow-y:scroll;">
        <table class="table table-bordered  table-hover" cellspacing="0" width="100%" style="overflow-x:scroll;  border-spacing: 0px;" id="table_id">
            <thead>
                <tr>
                    <th scope="col"><b style="opacity:0%;">..................</b>#<b style="opacity:0%;">..................</b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Tênmáy<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Thaycuộn<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Màu<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Bùbế<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Rủiro<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Thaymã<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Épnhũ<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Target<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Tiềncông/h<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Lênbài<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Thaymã<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Thayroll<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Côngsuất<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>KW/h<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Tiềnđiện/h<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>SốVH<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>VH1<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>VH2<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>%Phânbổchiphí<b style="opacity:0%;"></b></th>
                   @* <th scope="col"><b style="opacity:0%;"></b>Phíquảnlý<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Khấuhaomáy/h<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Khấuhaomáy/h+0.5%bảotrì<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Chiphíthuêxưởng/giờ<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>Điệnchung<b style="opacity:0%;"></b></th>
                    <th scope="col"><b style="opacity:0%;"></b>0.5%bảotrì<b style="opacity:0%;"></b></th>*@

                </tr>
            </thead>
            <tbody style="font-size:12px;">

                @*<tr class="@(item.IsDeleted == true?"text-danger":"")">*@
                @if (Model.ResultObj.Count() > 0)
                {
                    @foreach (var item in Model.ResultObj)
                    {
                        <tr class="">
                            <td class="p-0 text-center" style="font-size:10px; line-height:13px;">
                                <a class="btn btn-sm btn-info" onclick="show(@item.ID)" data-toggle="modal" data-target="#myModal">Sửa</a>
                               
                                <a class="btn btn-sm btn-danger" onclick="deleteData(@item.ID)">Xóa</a>
                            </td>
                            <td class="p-0 text-center">
                                @item.MachineName
                            </td>
                            <td class="p-0 text-center">
                                @item.ChangeRoll
                            </td>
                            <td class="p-0 text-center">
                                @item.Color
                            </td>
                            <td class="p-0 text-center">
                                @item.Compensation
                            </td>
                            <td class="p-0 text-center">
                                @item.Risk
                            </td>
                            <td class="p-0 text-center">
                               @item.ChangeSpec
                            </td>
                            <td class="p-0 text-center">
                                @item.WhiteCarry
                            </td>
                            <td class="p-0 text-center">
                                @item.Target
                            </td>
                            <td class="p-0 text-center">
                                @item.HourlySalary
                            </td>
                            <td class="p-0 text-center">
                                @item.Change
                            </td>
                            <td class="p-0 text-center">
                                @item.ChangeSpec_H
                            </td>
                            <td class="p-0 text-center">
                                @item.ChangeRoll_H
                            </td>
                            <td class="p-0 text-center">
                                @item.Power
                            </td>
                            <td class="p-0 text-center">
                                @item.KWPerHour
                            </td>
                            <td class="p-0 text-center">
                                @item.ElectricPrice
                            </td>
                            <td class="p-0 text-center">
                                @item.OperatorNumber
                            </td>
                            <td class="p-0 text-center">
                                @item.OperatorSalary_1
                            </td>
                            <td class="p-0 text-center">
                                @item.OperatorSalary_2
                            </td>
                            <td class="p-0 text-center">
                                @item.CostAllocationPercent
                            </td>
                            
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="4">Không có dữ liệu</td></tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl modal-lg model-sm">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body container">
                <h3 class="plan-title text-center">Thông tin máy</h3>
                <div class="row general">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-sm-12 mb-8">

                        <div class="edit-form">
                            <div class="form-row">
                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <input class="form-inline form-control   d-sm-inline-block" type="hidden" disabled="disabled" id="ID" value="0" />
                                </div>

                               @* <div class="form-group col-md-3 col-lg-3 col-sm-3 col-xl-3  mb-1">
                                    <label class="control-label  label-text">Loại:</label>
                                    @Html.DropDownList("materialTypeList", null, new { @class = "form-control d-sm-inline-block", @id = "materialTypeListCreate", @name = "materialTypeListCreate" })
                                </div>*@
                                 <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2  mb-1">
                                    <label class="control-label  label-text">Tên máy:</label>
                                    <input class="form-inline form-control  d-sm-inline-block" id="machineName" />
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2  mb-1">
                                    <label class="control-label  label-text">Thay cuộn:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="changeRoll" />
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2  mb-1">
                                    <label class="control-label  label-text">Màu:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="color" />
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2  mb-1">
                                    <label class="control-label  label-text">Bù bế:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="compensation">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Rủi ro:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="risk">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Thay mã:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="changeSpec">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Ép nhũ:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="whiteCarry">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Target:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="target">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Lên bài:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="change">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Thay mã:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="changeSpec_H">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Thay roll:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="changeRoll_H">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Công suất:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="power">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Số VH:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="numberOfOperator">
                                </div>

                                <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">VH1:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="operator_1">
                                </div>

                                 <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">VH2:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="operator_2">
                                </div>

                                 <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">Tiền lương theo giờ:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="hourSalary">
                                </div>

                                 <div class="form-group col-md-2 col-lg-2 col-sm-2 col-xl-2 mb-1">
                                    <label class="control-label  label-text">% phân bổ chi phí:</label>
                                    <input type="number" class="form-inline form-control  d-sm-inline-block" id="costAllocationPercent">
                                </div>
                            </div>

                            <div class="form-group" id="action">
                                <input type="button" value="Lưu" onclick="save();" class="btn btn-primary" />

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function show(id) {

       if(id == 0){
            $('#ID').val(0);
            $("#changeRoll").val(0);
            $("#color").val(0);
            $("#compensation").val(0);
            $("#risk").val(0);
            $("#changeSpec").val(0);
            //$("#unit > [value='Chọn đơn vị']").attr("selected",true);
            $("#whiteCarry").val(0);
            $("#target").val(0);
            $("#change").val(0);
            $("#changeSpec_H").val(0);
            $("#changeRoll_H").val(0);
            $("#power").val(0);
            $("#numberOfOperator").val(0);
            $("#operator_1").val(0);
            $("#operator_2").val(0);
            $("#hourlySalary").val(0);
            $("#costAllocationPercent").val(0);
            $("#hourSalary").val(0);
            $("#machineName").val("");
            $("#note").val(" ");
            

       }
       else{
       var url = "/Config/MachineConfigDetail/" + id;

    $.ajax({
        type: "GET",
        url: url,
        async: true,
        //data: data,
        // async: false,
        contentType: 'application/json; charset=utf-8',
        success: function (mess) {
            console.log(mess);
            $('#ID').val(mess.resultObj.id);

            $("#changeRoll").val(mess.resultObj.changeRoll);
            $("#color").val(mess.resultObj.color);
            $("#compensation").val(mess.resultObj.compensation);
            $("#risk").val(mess.resultObj.risk);
            $("#changeSpec").val(mess.resultObj.changeSpec);
            //$("#unit > [value='Chọn đơn vị']").attr("selected",true);
            $("#whiteCarry").val(mess.resultObj.whiteCarry);
            $("#target").val(mess.resultObj.target);
            $("#change").val(mess.resultObj.change);
            $("#changeSpec_H").val(mess.resultObj.changeSpec_H);
            $("#changeRoll_H").val(mess.resultObj.changeRoll_H);
            $("#power").val(mess.resultObj.power);
            $("#numberOfOperator").val(mess.resultObj.operatorNumber);
            $("#operator_1").val(mess.resultObj.operatorSalary_1);
            $("#operator_2").val(mess.resultObj.operatorSalary_2);
            $("#hourSalary").val(mess.resultObj.hourlySalary);
            $("#costAllocationPercent").val(mess.resultObj.costAllocationPercent);
           
            $("#machineName").val(mess.resultObj.machineName);
            $("#note").val(mess.resultObj.note);
        },
        error: function (err) {
            alert("Error: " + err.responseText);
        }

    });
    }
    }
</script>

<script type="text/javascript">
    function deleteData(id) {
       if (confirm('Bạn có chắc chắn muốn xóa?')) {
            var url = "/Config/DeleteMachineConfig/" + id;

    $.ajax({
        type: "DELETE",
        url: url,
        async: true,
        //data: data,
        // async: false,
        contentType: 'application/json; charset=utf-8',
        success: function (mess) {

                if (mess.isSuccessResult == false) {
                    //$("#alertMesss").removeClass("text-success");
                    //$("#alertMesss").addClass("text-danger");
                    //$("#alertMesss").html(mess.result);
                    alert(mess.result);
                }
                else {
                    //$("#alertMesss").removeClass("text-danger");
                    //$("#alertMesss").addClass("text-success");
                    //$("#alertMesss").html(mess.result);
                    alert(mess.result);
                }
                location.reload();

            },
            error: function (err) {
                //$("#alertMesss").removeClass("text-success");
                //$("#alertMesss").addClass("text-danger");
                //$("#alertMesss").html("Error: " + err);
                alert("Error: " + err);
            }

    });
       } else {
           return false;
       }
    }
</script>

<script type="text/javascript">

        function save() {
        if (confirm("Bạn có chắc chắn muốn lưu?") == true) {
            var data = new FormData();
            //var fileUpload = $("#attachment").get(0);
            //var countFile = $("#attachment")[0].files.length;
            //var files = fileUpload.files;
             var id = $("#ID").val();
             var url;
             if(id <= 0)
             {
                  url = "/Config/CreateMachineConfig";
                  method ="POST";
             }
             else{
                  url = "/Config/UpdateMachineConfig/"+id;
                   method ="POST";
             }

            var changeRoll = $("#changeRoll").val();
            var color = $("#color").val();
            var compensation = $("#compensation").val();
            var risk =  $("#risk").val();
            var changeSpec = $("#changeSpec").val();
            var whiteCarry = $("#whiteCarry").val();
            var target = $("#target").val();
            var machineName = $("#machineName").val();
            var change = $("#change").val();
            var changeSpec_H = $("#changeSpec_H").val();
            var changeRoll_H = $("#changeRoll_H").val();
            var power = $("#power").val();
            var numberOfOperator = $("#numberOfOperator").val();
            var operator_1 = $("#operator_1").val();
            var operator_2 = $("#operator_2").val();
            var hourlySalary = $("#hourSalary").val();
            var costAllocationPercent = $("#costAllocationPercent").val();
            var model;
            if(id>0)
            {
                model = { ID: id, HourlySalary:hourlySalary, NumberStageMachine:0, MachineName:machineName, ChangeRoll: changeRoll, Color: color, Compensation: compensation, Risk: risk, ChangeSpec: changeSpec, WhiteCarry: whiteCarry, Target: target, Change:change, ChangeSpec_H:changeSpec_H, ChangeRoll_H:changeRoll_H, Power:power, Change:change, OperatorNumber:numberOfOperator, OperatorSalary_1:operator_1, OperatorSalary_2:operator_2, CostAllocationPercent:costAllocationPercent};
            }
            else
            {
                model = { ID: id,HourlySalary:hourlySalary, NumberStageMachine: 0, MachineName:machineName, ChangeRoll: changeRoll, Color: color, Compensation: compensation, Risk: risk, ChangeSpec: changeSpec, WhiteCarry: whiteCarry, Target: target, Change:change, ChangeSpec_H:changeSpec_H, ChangeRoll_H:changeRoll_H, Power:power, Change:change, OperatorNumber:numberOfOperator, OperatorSalary_1:operator_1, OperatorSalary_2:operator_2, CostAllocationPercent:costAllocationPercent};
            }


            console.log(model);
            $.ajax({
                type: method,
                url: url,
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(model),
                async: true,
                success: function (mess) {
                    if (mess.isSuccessResult == false) {
                        $("#msg").removeClass("text-success");
                        $("#msg").addClass("text-danger");
                        $("#msg").html(mess.result);
                        alert(mess.result);
                    }
                    else {
                        $("#msg").removeClass("text-danger");
                        $("#msg").addClass("text-success");
                        $("#msg").html(mess.result);
                        alert(mess.result);
                        location.reload();
                    }

                    //setTimeout(function () {// wait for 5 secs(2)
                    //    location.reload(); // then reload the page.(3)
                    //}, 5000);

                },
                error: function (err) {

                    $("#msg").removeClass("text-success");
                    $("#msg").addClass("text-danger");
                    $("#msg").html("Error: " + err);
                    alert(err.responseText);
                    //setTimeout(function () {// wait for 5 secs(2)
                    //    location.reload(); // then reload the page.(3)
                    //}, 5000);
                }

            });
        }
    }
</script>


@section CSS{
<link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
@*<link href="~/css/viewTable.css" rel="stylesheet" />*@
<style>
    /*on top header */
    .tableFixHead {
        overflow: auto;
        height: auto;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }
</style>
}